@page "{id:int}"
@model ResidentBookmark.Pages.DeleteLabelModel
@{
}
    
<div class="container intro">
    <section class="row col-sm-12">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <header>
                <h1>Delete Label - @Model.Label?.Name</h1>
            </header>
        </article>
    </section>
</div>

<div class="container">
    <section class="row col-sm-12">
        <article class="col-sm-12 col-md-12 col-lg-8 col-center">
            <div class="scan-column-main">
                <h2>Are you sure you want to remove this label?</h2>
                <p>Deleting this label will also remove all websites attached to it!</p>
                <hr />
                <div class="box-website">
                    <h3>@Model.Label?.Name</h3>
                    <p>@Model.Label?.Description</p>
                </div>
                <div class="box-website-menu">       
                    <form method="post">
                        <input type="hidden" asp-for="Label.LabelId" />
                        <input class="btn btn-dark" type="submit" value="Yes" /> 
                        <a class="btn btn-dark" asp-page="../Index">No</a>
                    </form>
                </div>
            </div>
        </article>
    </section>
</div>